GOOGLE_API_KEY=
GOOGLE_CLIENT_ID=444299514275-nf3hjtdcjqj6upk5f7cp1mrvoreu6gel.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
SUPABASE_URL=https://ssucfxzgliitehqkcphx.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNzdWNmeHpnbGlpdGVocWtjcGh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTY2MDk0NSwiZXhwIjoyMDg3MjM2OTQ1fQ.NcFQVHzV8iiyWfoM-Ax_g5RiPB79QDI3zQLe_Ke-6Pc
SUPABASE_JWT_SECRET=vgYzkgheNNM9U23IwVVg9+JY1K0PG0Ynawl22GTWJR5I+xNc34DjLeoSjozkYEPK8UUBCj/hiwxldnSmIu6reQ==
AWS_ACCESS_KEY_ID=AKIAT5YZK4ZWFP6OPQTN
AWS_SECRET_ACCESS_KEY=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
AWS_REGION=ap-south-1
AWS_S3_BUCKET=sewa-mitra
ANALYSIS_API_URL=https://cfwsxf61-8000.inc1.devtunnels.ms
