GOOGLE_API_KEY=
SUPABASE_URL=https://ssucfxzgliitehqkcphx.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNzdWNmeHpnbGlpdGVocWtjcGh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTY2MDk0NSwiZXhwIjoyMDg3MjM2OTQ1fQ.NcFQVHzV8iiyWfoM-Ax_g5RiPB79QDI3zQLe_Ke-6Pc
SUPABASE_JWT_SECRET=vgYzkgheNNM9U23IwVVg9+JY1K0PG0Ynawl22GTWJR5I+xNc34DjLeoSjozkYEPK8UUBCj/hiwxldnSmIu6reQ==
