fastapi
uvicorn
pydantic
pydantic-settings
python-dotenv
requests
Pillow
google-genai
sqlalchemy
psycopg2-binary
pyjwt
bcrypt
passlib
openai-whisper
torch
numpy
soundfile
pymupdf
transformers
librosa
huggingface_hub
python-multipart
boto3
