fastapi
uvicorn
pydantic
google-genai
requests
Pillow
pydantic
python-dotenv
pydantic-settings
sqlalchemy
psycopg2-binary
pyjwt
bcrypt
passlib
openai-whisper
torch
numpy
soundfile
pymupdf
transformers
librosa
huggingface_hub
python-multipart
boto3